:root {
    --elem-pad: 3px;
    --body-bg: hsl(0, 0%, 70%);
    --name-bg: hsl(0, 0%, 88%);
    --content-bg: hsl(0, 0%, 97%);
    --name-color: hsl(0, 0%, 25%);
    --content-color: hsl(0, 0%, 1%);
}

:root[class*=night-mode] {
    --body-bg: hsl(0, 0%, 30%);
    --name-bg: hsl(0, 0%, 12%);
    --content-bg: hsl(0, 0%, 3%);
    --name-color: hsl(0, 0%, 75%);
    --content-color: hsl(0, 0%, 90%);
}

body,
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img,
picture,
video {
    max-width: 100%;
    display: block;
}

img {
    max-height: 50vh;
}

body,
main {
    font-size: 1rem;
}

body {
    background-color: var(--body-bg);
}

main {
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(150px, 1fr);
    gap: 1px;
    min-height: 100vh;
}

main>* {
    padding: var(--elem-pad);
}

.name {
    font-weight: bold;
    background-color: var(--name-bg);
    color: var(--name-color);
}

.content {
    background-color: var(--content-bg);
    color: var(--content-color);
    max-width: 100vw;
    overflow: auto;
}

.subsearch__audio_list {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--elem-pad);
}

.subsearch__image_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--elem-pad);
}

button.subsearch__play_button {
    --side: 32px;

    display: inline-block;
    width: var(--side);
    aspect-ratio: 1/1;
    background-color: #eef0f2;
    color: #292c31;
    border-radius: 50%;
    border: 0px;
    outline: 0px;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 7%);
    background-image: url("../img/play-button.svg");
    background-size: calc(var(--side) / 2);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

button.subsearch__play_button:hover {
    background-color: #ced0d2;
}
